@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {

  background-color: whitesmoke;
  /* background: radial-gradient(circle, hsl(0 0% 100%)  0%, hsl(1 81% 85%) 19%, hsl(0 0% 100%) 65%); */

  color: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
