@tailwind base;
@tailwind components;
@tailwind utilities;

body,
body[data-theme="light"] {
  --main-color: #000;
  /* --main-color: #ff4400; */
  --bg-color: rgb(245, 245, 245);
  --transparent: rgba(255, 255, 255, 0);
  --acc-color: #00ff00;
  --glass-w: rgba(255,255,255,0.2);
  --glass-b: rgba(0,0,0,0.2);
  --shadow: #444;
  --link-glow: #f5d9ab;
  --link-hover: #0000ff;
  --mint-hover: #eee;
}
body[data-theme="dark"] {
  --main-color: rgb(255, 255, 255);
  --bg-color: rgb(22, 22, 22);
  --transparent: rgba(255, 255, 255, 0);
  --acc-color: #00ff00;
  --glass-w: rgba(255,255,255,0.2);
  --glass-b: rgba(0,0,0,0.2);
  --shadow: #444;
  --link-glow: rgb(106, 87, 156);
  --link-hover: #62ff00;
  --mint-hover: rgb(27, 27, 27);
}

html,
body {
  background-color: var(--bg-color);
  /* background: radial-gradient(circle, hsl(0 0% 100%)  0%, hsl(1 81% 85%) 19%, hsl(0 0% 100%) 65%); */

  color: var(--main-color);
  padding: 0;
  margin: 0;
  font-family: Courier, 'Courier New', monospace;

  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;  

  /* font-family: neue-haas-grotesk-text,sans-serif;
  font-weight: 400;
  font-style: normal; */

  /* @apply text-sm */
  font-size: 15px;

}

a {
  /* font-style: italic; */
  color: inherit;
  /* text-decoration: underline; */
  @apply drop-shadow-glow
}
a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

h1 {
  font-family: swear-display,serif;
  font-weight: 200;
  font-style: normal;
  
  /* font-size: 3em; */
  letter-spacing: -0.05em;

  @apply md:text-5xl text-3xl p-1
}

.menu {
}

* {
  box-sizing: border-box;
}

.galeria {
  /* font-family: source-code-pro, monospace;
  font-weight: 400;
  font-style: normal; */
  /* text-decoration: underline; */
  text-transform: uppercase;
  /* font-family: kepler-std, serif;
font-weight: 400;
font-style: italic; */
font-family: aktiv-grotesk-extended, sans-serif;
font-weight: 300;
font-style: normal;
}

.un001 {
  background-image: url('../assets/9.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.links-wrap {
  text-transform: lowercase;

  @apply flex flex-col mb-3
}
.links{
  @apply mb-2
}
.links::before {
  content: '⥼ '
}

.form-line {
  @apply flex md:flex-row flex-col
}

.form-name {
  @apply md:w-[30%] w-full p-2
  
}

.form-input {
  @apply bg-[#fff] md:w-[70%] w-full py-1 px-2 m-1
}

.contenedor-nft {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  position: relative;
}
.nft-embed-wrapper > iframe {
  width: 100%!important;
  height:100%!important;
  border: 0;
  position: absolute;
  margin-top: 5em;
  top: 0;
  left: 0;
  position: relative;
  width:100%;
  height: calc(274px + 0px);
}


.rhap_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-family: inherit;
  width: 100%;
  padding: 10px 15px;
  /* background-color: rgb(255, 255, 255, 0) !important;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0) !important; */
  background-color: var(--transparent) !important;
  box-shadow: var(--acc-color) !important;
}
.rhap_container:focus:not(:focus-visible) {
  outline: 0;
}
.rhap_container svg {
  vertical-align: initial;
}

.rhap_header {
  margin-bottom: 1em !important;
}

.rhap_footer {
  margin-top: 1em !important;
}

.rhap_main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.rhap_stacked .rhap_controls-section {
  margin-top: 0.5em !important;
}

.rhap_horizontal {
  flex-direction: row;
}
.rhap_horizontal .rhap_controls-section {
  margin-left: 8px;
}

.rhap_horizontal-reverse {
  flex-direction: row-reverse;
}
.rhap_horizontal-reverse .rhap_controls-section {
  margin-right: 8px;
}

.rhap_stacked-reverse {
  flex-direction: column-reverse;
}
.rhap_stacked-reverse .rhap_controls-section {
  margin-bottom: 8px;
}

.rhap_progress-section {
  display: flex;
  flex: 3 1 auto;
  align-items: center;
}

.rhap_progress-container {
  display: flex;
  align-items: center;
  height: 20px;
  flex: 1 0 auto;
  align-self: center;
  margin: 0 calc(10px + 1%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.rhap_progress-container:focus:not(:focus-visible) {
  outline: 0;
}

.rhap_time {
  color: var(--main-color) !important; 
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  width: 2em;
}

.rhap_progress-bar {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  width: 100% !important;
  height: 5px;
  background-color: var(--glass-b)!important;
  border-radius: 50px !important;
}

.rhap_progress-filled {
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: var(--main-color) !important;
  border-radius: 50px !important;
}

.rhap_progress-bar-show-download {
  background-color: var(--glass-b) !important;
}

.rhap_download-progress {
  height: 100%;
  position: absolute;
  z-index: 1;
  /* background-color: #999 !important; */
  background-color: var(--glass-b) !important;
  border-radius: 50px!important;
}

.rhap_progress-indicator {
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  width: 12px !important;
  height: 9px !important;
  margin-left: -5px !important;
  top: -2px !important;
  /* background: #777 !important; */
  background: var(--main-color) !important;
  border-radius: 50px;
  /* box-shadow: rgba(134, 134, 134, 0) 0 0 5px !important; */
  box-shadow: var(--shadow) 0 0 3.5px !important;
}

.rhap_controls-section {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

.rhap_additional-controls {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}

.rhap_repeat-button {
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
  /* color: #666 !important; */
  color: var(--main-color) !important;
  margin-right: 0px !important;
}

.rhap_main-controls {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rhap_main-controls-button {
  margin: 0 0.1em !important;
  /* color: #666 !important; */
  color: var(--main-color) !important;
  font-size: 25px;
  width: 25px;
  height: 25px;
}

.rhap_play-pause-button {
  font-size: 30px !important;
  width: 30px!important;
  height: 30px!important;
}

.rhap_volume-controls {
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
  align-items: center;
}

.rhap_volume-button {
  flex: 0 0 20px;
  font-size: 20px!important;
  width: 20px!important;
  height: 20px!important;
  /* color: #666!important; */
  color: var(--main-color)!important;
  margin-right: 0px !important;
}

.rhap_volume-container {
  display: flex;
  align-items: center;
  flex: 0 1 100px;
  user-select: none;
  -webkit-user-select: none;
}

.rhap_volume-bar-area {
  display: flex;
  align-items: center;
  width: 100%;
  height: 14px;
  cursor: pointer;
}
.rhap_volume-bar-area:focus:not(:focus-visible) {
  outline: 0;
}

.rhap_volume-bar {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 4px;
  /* background: #ddd!important; */
  background: var(--glass-b) !important;
  border-radius: 50px!important;
}

.rhap_volume-indicator {
  box-sizing: border-box;
  position: absolute;
  width: 12px!important;
  height: 9px!important;
  margin-left: -5px !important;
  left: 0;
  top: -2px!important;
  /* background: #666!important; */
  background: var(--main-color) !important;
  opacity: 1 !important;
  border-radius: 50px !important;
  /* box-shadow: rgba(134, 134, 134, 0.5) 0 0 3px !important; */
  box-shadow: var(--shadow) 0 0 3.5px !important;
  cursor: pointer;
}
.rhap_volume-indicator:hover {
  opacity: 0.9;
}

.rhap_volume-filled {
  height: 100%;
  position: absolute;
  z-index: 2;
  /* background-color: #999!important; */
  background-color: var(--main-color) !important;
  border-radius: 0px!important;
}

/* Utils */
.rhap_button-clear {
  background-color: transparent;
  border: none;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}
.rhap_button-clear:hover {
  opacity: 0.9;
  transition-duration: 0.2s;
}
.rhap_button-clear:active {
  opacity: 0.95;
}
.rhap_button-clear:focus:not(:focus-visible) {
  outline: 0;
}



/* barra scroll */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-color) var(--main-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-color);
  /* border-radius: 5px; */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  /* border-radius: 14px;
  border: 3px solid var(--primary); */
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
} */
